ul{
	list-style-type:none;
	background-color:#333;
	width:50%;
	height:80px;
	overflow:hidden;
	float:right;
	margin-top:0px;
}
li{
	float:right;
}
li a{
	display:block;
	color:white;
	padding:8px;
	text-decoration:none;
	text-align:center;
	margin-right:45px;
	margin-top:20px;
}
li a:hover{
	background-color:black;
}
.active{
	background-color:rgba(255,200,0);
}